.bodycontainer1 {
  color: #fff;
  border-radius: 8px;
  font-weight: 600;
}
.top {
  display: flex;
  padding-top: 10px;
  justify-content: space-around;
  align-items: center;
}
.top p {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}

.middle-con {
  display: flex;
  justify-content: space-evenly;
  height: 200px;
  padding-top: 150px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.right-con {
  color: #5ce449;
  padding-top: 80px;
}

.right-cont h2 {
  font-weight: 700;
  font-size: 14px;
}
.right-cont span {
  font-weight: 700;
  font-size: 30px;
}

.bottom-con {
  display: flex;
  position: relative;
  align-items: end;
  padding-right: 4px;
  color: #fff;
}

.chat-btn {
  width: 172.5px;
  height: 50px;
  background: #a95210;
  border-radius: 0 0 0 20px;
}
.live-btn {
  border-radius: 50%;
  width: 66px;
  height: 66px;
  background: #a95210;
  position: absolute;
  top: -53%;
  left: 40%;
}
.live-img {
  width: 10px;
  height: 5px;
}
.call-btn {
  width: 172.5px;
  height: 50px;
  background: #a95210;
  border-radius: 0 0 20px 0;
}
.call-btn:hover {
  cursor: pointer;
  background: #833800;
}
.chat-btn:hover {
  cursor: pointer;
  background: #833800;
}
.live-btn:hover {
  cursor: pointer;
  background: #833800;
}
@media screen and (max-width: 700px) {
  .bodycontainer1 {
    margin: 0;
    padding: 0;
  }
}
