.footer {
  background: #bd5300;
  color: #fff;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  gap: 20px;
  margin-left: 50px;

  padding: 40px;
}
.part1 {
  display: flex;
  flex-direction: column;

  gap: 60px;
}
.part {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.para {
  font-weight: 500;
  font-size: 16px;
  line-height: 138.5%;
  letter-spacing: 0.105em;
}
.social {
  display: flex;
  gap: 25px;
}
.sub-part {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.input-text {
  width: 300px;
  height: 42px;
  background: #fafafa;
  border: 1px solid #fbfbfb;
  border-radius: 6px;
}
.submit {
  background-color: #4b9c0c;
  width: 300px;
  height: 42px;
  margin-top: 10px;
  border-radius: 6px;
}
@media screen and (max-width: 700px) {
  .footer {
    width: 700px;
    margin-left: 10px;

    padding: 5px;
    display: flex;
    flex-direction: column;
  }
}
